extends layout

block content
  header
    .header-content
      .header-content-inner
      
        h1 설 문 조 사
        |                 
        hr
        |    
        p Welcome to survey
        a.btn.btn-primary(href='/posts') 바로가기
